:root {
  --primary-blue: #141495;
  --light-cyan: #E0FFFF;
  --text-gray: #696969;
  --white: #FFFFFF;
  --dark-gray: #1C2526;
  --accent: #1d0b58;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--light-cyan);
  color: var(--text-gray);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  color: var(--dark-gray);
}

h4 {
  color: var(--dark-gray);
  font-size: large;
  text-decoration-line: underline;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
}

a {
  color: var(--primary-blue);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--accent);
}

/* ====== Container ====== */
.container {
  display: flex;
  width: clamp(50rem, 50vw, 100rem);
  margin: 40px auto;
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(28, 37, 38, 0.8);
  overflow: hidden;
}

/* ====== Sidebar ====== */
.sidebar {
  background: linear-gradient(180deg, var(--light-cyan));
  padding: 40px 25px;
  width: 30%;
  color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  text-align: start;
}

.profile-photo {
  width: 200px;
  height: 250px;
  border-radius: 15px;
  border: 4px solid var(--white);
  object-fit: cover;
  margin-bottom: 25px;
  box-shadow: 0 6px 15px rgba(28, 37, 38, 0.1);
  /* #1C2526 з прозорістю */
  display: flex;
  justify-content: center;
}

.sidebar-title {
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0 10px;
  color: var(--dark-gray);
  border-bottom: 2px solid rgba(28, 37, 38, 0.08);
  /* #1C2526 з прозорістю */
  padding-bottom: 5px;
}

.skills-list {
  padding: 0;
  margin: 0 0 15px;
  list-style: none;
}

.skills-list li {
  margin: 6px 0;
  font-size: 14px;
  color: var(--text-gray);
}

.contacts-link {
  color: var(--primary-blue);
  font-weight: 500;
  transition: color 0.3s;
}

.contacts-link:hover {
  color: var(--accent);
}

/* ====== Main content ====== */
.main-content {
  padding: 40px;
  flex: 1;
}

.main-content-title {
  font-size: 22px;
  margin-top: 25px;
  color: var(--primary-blue);
  border-left: 4px solid var(--primary-blue);
  padding-left: 5px;
}

.main-title_box {
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 15px;
}

.content-title {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-gray);
}

.content_container {
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 15px;
}

p {
  margin: 0;
  color: var(--primary-blue);
}

.main-content ul {
  margin: 10px 0 20px;
  padding-left: 20px;
  list-style-type: none;
  text-decoration: none;
}

.main-content li {
  margin-bottom: 6px;
  font-size: 15px;
  position: relative;
  padding-left: 25px;
}

.main-content li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: var(--primary-blue);
}

/* ====== Certificates ====== */
.certificate-cards {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.cards {
  width: 100px;
  border-radius: 10px;
  border: 3px solid var(--white);
  box-shadow: 0 6px 12px rgba(28, 37, 38, 0.1);
  /* #1C2526 з прозорістю */
  transition: transform 0.3s, box-shadow 0.3s;
}

.cards:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(28, 37, 38, 0.2);
  /* #1C2526 з прозорістю */
}

/* ====== Modal (сертифікати) ====== */
.modal {
  position: relative;
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(28, 37, 38, 0.8);
  z-index: 1000;
}

.modal-content {
  display: block;
  margin: 50px auto;
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(28, 37, 38, 0.3);

}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: var(--white);
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}


@media (max-width: 768px) {
  .sidebar {
    border-radius: 5px 5px 0 0;
    padding: 25px 15px;
  }

  .main-content {
    padding: 20px;
  }

  .certificate-cards {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
  }
}

@media (max-width: 640px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-radius: 12px 12px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .certificate-cards {
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  }

  .cards {
    width: 90px;
  }

  .main-content {
    padding: 20px 15px;
    flex: 1;
  }

  .main-content-title {
    font-size: 18px;
    margin-top: 15px;
    border-left: 3px solid var(--primary-blue);
    padding-left: 5px;
  }

  .content_container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 15px;
  }

  .content-title {
    font-size: 16px;
    margin-bottom: 5px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 18px;
    line-height: 1.3;
  }

  h4 {
    font-size: 16px;
  }

  .main-content-title {
    font-size: 18px;
    margin-top: 15px;
    flex-wrap: wrap;
  }

  .content-title {
    font-size: 12px;
  }

  .certificate-cards {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .cards {
    width: 120px;
  }

  article {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}